body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.content {
    text-align: center;
}

.textList {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.textItem {
    border: 1px solid green;
    border-radius: 6px;
    width: 50%;
    margin-bottom: 10px;
    text-align: left;
    word-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    background: yellow;
}
.textItem:hover {
    opacity: .5;
}
label {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
}
h1 {
    font-size: 50px;
    font-weight: bold;
}
button {
    width: 100px;
    height: 30px;
    margin: 1%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
button:hover{
    border: 1px solid yellow;
}
button:active{
    box-shadow: 5px 5px 5px black;
}
#add {
    background-color: green;
}
#del {
    background-color: red;
}
#clear {
    background-color: orange;
}
.inputArea {
    border: 1px solid black;
    padding: 15px 0;
    position: relative;
}

input#inputText {
    width: 50%;
    height: 30px;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 20px;
}
li {
    padding: 10px 0;
}


#warning {
    font-size: 20px;
    color: red;
    font-weight: bold;
    margin-top: 15px;
    height: 10px;
}

span.coutner {
    position: absolute;
    right: 62px;
    top: 20px;
    font-size: 20px;
    font-weight: bold;
}
